*{
  font-family: 'Braah One', sans-serif;
  color: #fff;
}

/*Seccion Todos*/
header {
  background-color: #F8C471; /*https://htmlcolorcodes.com/es/ */
  z-index: 100;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 0;
  left: 0; 
}

footer {
  background-color: #F8C471;
  color: #fff;
  width: 100%;
  padding: 5px;
  text-align: center;
  font-family: 'Braah One', sans-serif;
  position: sticky;
  bottom: 0;
  left: 0;
}

/*Seccion Index*/
nav {
  float: left;
}

nav ul {
  list-style: none;
  overflow: hidden; 
}

nav ul li {
  float: left;
  font-family: 'Braah One', sans-serif;
  font-size: 20px;
}

nav ul li img {
  width: 100px;
  height: 100px;
  display: inline-block;
}

nav ul li h4 {
  color: #fff;
  font-family: 'Braah One', sans-serif;
  font-size: 30px;
  display: inline-block;
}
nav ul li a {
  padding: 35px;
  padding-top: 45px;
  text-align: right;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
}

nav ul li:hover {
  background: #eca023;
}

nav ul li button {
  padding: 25px;
  margin: 5px;
  background-color: transparent;
  color:#fff;
  font-family: 'Braah One', sans-serif;
  font-size: 18px;
  border: 2px solid #f19a0d;
  display: right;
  left: 0;
}

body {
  background-color: #F8C471;
  background-image: url(/images/fondodurazno2.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 130px;

}

.slide { /*https://www.migueltroyano.com/css/carrusel-imagenes-html-css/*/
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 26px;
}
.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc( 400px + 4em);
}
.slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}
.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
.slide-item img {
  display: block;
  height: auto;
  max-width: 100%;
}
.slide-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}
.slide-control.prev {
  left: 2%;
}
.slide-control.next {
  right: 2%;
}
.slide-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
  display: block;
}
.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}
.slide-circulo {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 35px;
}
.slide-circulo:hover {
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
   li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
    li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
    li:nth-child(3) .slide-circulo {
  color: #428bca;
}

hr {
  height: 3px;
  background-color:#fff;
  width: 75%;
  margin-top: 25px;
  margin-bottom: 25px;
}

h1 {
  padding: 15px;
  position: relative;
  text-align: center;
}

/*Seccion Contactanos*/
#input {
  color: #fff;
  background-color: #F8C471;
}
input:hover{
  background-color: #F8C471;
  color: #fff;
}

textarea:hover{
  background-color: #F8C471;
  color: #fff;
}

button {
  padding: 25px;
  margin: 5px;
  background-color: transparent;
  color:#fff;
  font-family: 'Braah One', sans-serif;
  font-size: 18px;
  border: 2px solid #f19a0d;
  display: right;
  left: 0;
}
button:hover {
  background: #eca023;
}

/*Seccion Nosotros*/
.imagen {
  box-sizing: border-box;
  flex-basis: 33.33%;
  flex-shrink: 0;
  padding: 5px;
  max-height: fit-content;
  border-color: #2874A6;
  border-style: groove;
}
iframe{
  margin: 20px;
}